*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: orange;
}

.container{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    display: flex;
}

.grocery{
    border: 1px solid black;
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background: white;
    box-shadow: 10px 10px 24px 0 rgb(0, 0, 0,0.5);
}

.grocery h1{
    font-size: 2.5rem;
    margin-top: 1em;

}

.grocery i{
    font-size: 2rem;
    color: orange;
}

.grocery input{
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
}

#allitems h2{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
    
}